<div class="card-columns m-3 mt-5">
  <!-- Presentation -->
  {% for presentations in site.presentations %}

    {%- assign presentations_type  = "local" -%}
    {%- assign presentations_id    = presentations.name | slugify -%}
    {%- assign presentations_img   = presentations.image -%}
    {%- assign presentations_name  = presentations.name -%}
    {%- assign presentations_desc  = presentations.description -%}
    {%- assign presentations_tags = presentations.tags -%}

    {%- if presentations.external_url -%}
      {%- assign presentations_url = presentations.external_url -%}
    {%- else -%}
      {%- assign presentations_url = presentations.url | relative_url -%}
    {%- endif -%}

    {% include presentations/presentations-card.html %}

  {% endfor %}

</div>