<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ presentations_url }}" class="project card text-dark">
    {%- if presentations_img -%}
    <img id="{{ presentations_id }}-img" class="card-img-top" src="{{ presentations_img }}" alt="{{ presentations_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ presentations_id }}-name" class="card-title">
          {%- if presentations_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
        {{ presentations_name }}
      </h5>
      <p id="{{ presentations_id }}-desc" class="card-text">{{ presentations_desc }}</p>
      <p id="{{ presentations_id }}-tools" class="card-text">
        {%- for tag in presentations_tags -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
        {%- endfor -%}
      </p>
    </div>
  </a>
</div>